<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: navigation"></header>

<!--<p th:text="${errorMsg}" style="color:red;"></p>-->

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}"  class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>

    <div class="form-group">
        <label>Register
            <input type="checkbox" th:field="${event.register}" checked="checked" value="True" class="form-control">
        </label>
        <p class="error" th:errors="${event.register}"></p>
    </div>

    <div class="form-group">
        <label>Number Of Attendees
            <input th:field="${event.numberOfAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numberOfAttendees}"></p>
    </div>
    <div class="form-group">
        <label>Date Of Participation
            <input th:field="${event.dateOfParticipation}" class="form-control">
        </label>
        <p class="error" th:errors="${event.dateOfParticipation}"></p>
    </div>
    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                        </option>
            </select>
        </label>
    </div>
<!--        <p class="error" th:errors="${event.type}"></p>-->
<!--    </div>-->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->
<!--<header th:replace="fragments :: navigation"></header>-->
<!--<p th:text="${errorMsg}" style="color:red"></p>-->
<!--<form method="post">-->
<!--    <div class="form-group">-->
<!--        <label>Name-->
<!--    <input th:field="${event.name}" clx36 ass="form-control"></label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Description-->
<!--            <input type="text" name="description" class="form-control"></label>-->
<!--    </div>-->
<!--    <div class="form-group">87r</div>-->
<!--    <div class="form-group">-->
<!--    <input type="submit" value="Create Event" class="btn btn-success"></input>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->