<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: navigation"></div>
<form method="post">
    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>
    <input type="submit" value="Edit" class="btn btn-danger">




<!--    <div class="form-group">-->
<!--        <input th:field="${event.id}" type="hidden"  class="form-control">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Name-->
<!--            <input th:field="${event.name}" class="form-control">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${event.name}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Description-->
<!--                <input th:field="${event.description}" class="form-control">-->
<!--            </label>-->
<!--            <p class="error" th:errors="${event.description}"></p>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="submit" value="Update Event" class="btn btn-danger">-->
<!--    </div>-->
</form>
</body>
</html>