<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->
<!--<div th:replace="fragments :: navigation"></div>-->
<!--<form method="post">-->
<!--    <th:block th:each="eventCategory : ${categories}">-->
<!--        <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${eventCategory.name}"></span>-->
<!--                <input type="checkbox" name="eventCategoryIds" th:value="${eventCategory.id}" class="form-control">-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->
<!--    <input type="submit" value="Delete" class="btn btn-danger"></input>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->