<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: navigation"></header>
<table class="table table-striped">
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Category Name</th>
    </tr>

    </thead>

<!--    <tr th:each="eventCategory : ${categories}">-->
<!--&lt;!&ndash;        <td th:text="${eventCategory.id}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${eventCategory.name}"></td>&ndash;&gt;-->
<!--        <td><a th:text="${eventCategory.name}" th:href="'/events/?categoryId='+${eventCategory.id}"></a></td>-->
<!--    </tr>-->
    <tr th:each="eventCategory : ${categories}">
        <td><a th:text="${eventCategory.name}" th:href="'/events?categoryId=' + ${eventCategory.id}"></a></td>
    </tr>
</table>

</body>
</html>